# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LinqExamples.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\code\dotnet\dotnet\LinqExamples\.idea\.idea.LinqExamples.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
